/* Mixins */
@mixin font($font, $font-size, $font-weight, $font-style, $font-line, $font-space, $font-color){
  font-family:$font;
  font-size: $font-size;
  font-weight:$font-weight;
  font-style:$font-style;
  line-height:$font-line;
  letter-spacing:$font-space;
  color:$font-color;
}