/*------------------------------------*\
  #Implementation of a simple Design System
\*------------------------------------*/
@import 'mixings';
@import 'variables';

h1,
.h1-header {
  @include font($font, 3.5rem, 600, $font-style, $font-line, $font-space);
  margin: 2rem 0 1rem 0;
  text-decoration: underline;
  @media (max-width: 1200px) {
    top: 14px;
  }
}
h2,
.h2-header {
  @include font($font, 3rem, 600, $font-style, $font-line, $font-space);
  margin-bottom: 1.5rem;
}
h3,
.h3-header {
  @include font(
    $font,
    2.5rem,
    $font-weight,
    $font-style,
    $font-line,
    $font-space
  );
  text-decoration: underline;
  margin-bottom: 1.5rem;
}
h4,
h5,
h6 .h4-header,
.h5-header,
.h6-header {
  @include font($font, 2rem, $font-weight, 'italic', $font-line, $font-space);
  margin-bottom: 1.5rem;
}
p,
a {
  @include font(
    $font,
    1.6rem,
    $font-weight,
    $font-style,
    $font-line,
    $font-space
  );
}
p {
  margin-bottom: 2rem;
}
a:hover {
  color: map-get($brandColors, chg-purple) !important;
}
.chg-toast {
  font-size: 1.4rem;
}
.chg-button {
  cursor: pointer;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: map-get($brandColors, chg-black);
  transition: all 800ms ease;

  span {
    color: map-get($brandColors, chg-white);
  }
  &:hover {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: map-get($brandColors, chg-green);
  }
  &.static-link:hover {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: map-get($brandColors, chg-green);
  }
  &.small-button {
    padding: 0.2rem 0.8rem;
    color: map-get($brandColors, chg-white);
  }
  &.icon-link {
    svg {
      min-height: 2rem;
      max-height: 2rem;
      color: map-get($brandColors, chg-white);
    }
  }
  &.danger,
  &.danger:hover {
    cursor: not-allowed;
    background-color: map-get($brandColors, chg-red);
  }
}

// Coloring Helpers classes
.txt-color {
  @each $element, $color in $brandColors {
    &.#{'' + $element} {
      color: $color;
    }
  }
}
.back-color {
  @each $element, $color in $brandColors {
    &.#{'' + $element} {
      background-color: $color;
    }
  }
}
