/*------------------------------------*\
  #Color Variables
\*------------------------------------*/

$brandColors: (
  chg-white: #ffffff,
  chg-grey: #f6f5f5,
  chg-black: #222222,
  chg-green: #65bdb4,
  chg-purple: #840e95,
  chg-red: #ef6969
);

/*------------------------------------*\
  #Typography Defaults
\*------------------------------------*/

$font: 'Anybody', sans-serif;
$font-size: 10px;
$font-line: 1.4;
$font-weight: normal;
$font-style: normal;
$font-space: 0.2rem;
$font-color: map-get($brandColors, ax_black);
$font-link-color: map-get($brandColors, ax_grey);
