/*------------------------------------*\
  #Color Variables
\*------------------------------------*/

$brandColors: (
  chg-white: #ffffff,
  chg-grey: #afabab,
  chg-black: #312d2d,
  chg-green: #ff7100,
  chg-purple: #ce8f01,
  chg-red: #ef6969
);

/*------------------------------------*\
  #Typography Defaults
\*------------------------------------*/

$font: 'Anybody', sans-serif;
$font-size: 10px;
$font-line: 1.4;
$font-weight: normal;
$font-style: normal;
$font-space: 0.2rem;
$font-color: map-get($brandColors, ax_black);
$font-link-color: map-get($brandColors, ax_grey);
