/**
*
* Variables..................Globally-available variables and config.
* Mixins.....................Useful mixins.
* Styles.....................Text styles and Text helpers.
*
*/

// Frameworks
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@/node_modules/bootstrap/dist/css/bootstrap.min.css';

// Font faces
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,400;0,600;1,400;1,600&display=swap');

// General
@import 'variables';
@import 'mixings';
@import 'styles';

/*------------------------------------*\
  #Layout Defaults
\*------------------------------------*/

:root {
  @include font(
    $font,
    $font-size,
    $font-weight,
    $font-style,
    $font-line,
    $font-space
  );
  min-height: 100vh;
  --foreground-rgb: 250, 250, 250;
}
body {
  background-color: rgb(var(--foreground-rgb));
}
.main-logo {
  max-width: 100%;
  height: auto;
}
