# https://vercel.com/docs/storage/vercel-postgres
POSTGRES_PRISMA_URL="postgresql://postgres:postgres2022!@localhost:5432/chg_app"
POSTGRES_URL_NON_POOLING="postgresql://postgres:postgres2022!@localhost:5432/chg_app"

# This has to be the App URL
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
NEXTAUTH_ADMIN_PASSWORD="123456789"

LINKEDIN_CLIENT_ID= # https://next-auth.js.org/providers/linkedin
LINKEDIN_CLIENT_SECRET=

DISABLE_ESLINT_PLUGIN=false