@import '@/app/styles/_variables.scss';

.languages-wrapper {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;

  .nav-item {
    .nav-link {
      font-family: 'Anybody', sans-serif;
      font-weight: 600;
      font-size: 2.4rem;
      color: map-get($brandColors, chg-black);
    }
  }
}
.tab-content {
  text-align: left;

  .language-item {
    cursor: pointer;
    min-height: 80px;
    width: 25%;
    display: inline-block;
    vertical-align: top;

    .language-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      text-align: left;
    }
    p,
    .flag {
      display: inline-block;
      vertical-align: top;
    }
    p {
      align-self: center;
      width: 80%;
      padding: 20px 5px 5px 5px;
    }
    .flag {
      width: 20%;
      height: auto;
      border: 1px solid rgba(230, 230, 230);
    }
  }
}

@media screen and (max-width: 900px) {
  .languages-wrapper {
    .nav-item {
      width: 50%;
    }
  }
  .tab-content {
    display: flex;
    align-items: stretch;

    .language-item {
      width: 50%;
      padding: 10px;
      align-self: center;

      .language-content {
        flex-direction: column;
        text-align: center;
        padding: 10px;
        min-height: 160px;
        border: 2px solid map-get($brandColors, chg-grey);
        border-radius: 2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;

        &:hover {
          background-color: map-get($brandColors, chg-grey);
        }
      }
      .flag {
        width: 50%;
      }
      p {
        padding: 0;
        margin: 10px 0 0 0;
        font-weight: bold;
      }
    }
  }
}
